.logomus {
  width: 70%;
}
#footer {
  padding: 70px;
  background: #de5150;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-nav {
  display: flex;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  margin: 0 40px;
}
.footer-nav h2 {
  margin: 0 40px;
}
.footer-logo img {
  margin: 0 15px;
  background: white;
  border: solid 2px white;
  border-radius: 40px;
}
